
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
}


h1 {
    font-family: 'Bungee Spice', cursive;

}

p {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
    width: 400px;
}